<form class="form-horizontal" action="<%= urlFor({action: 'login'}) %>" method="POST">
  <%- form_render() %>
  <div class="control-group">
    <div class="controls">
      <input type="submit" class="btn" value="Login" />
    </div>
  </div>
</form>
