<form class="form-horizontal" action="<%= accountURL() %>" method="POST">
  <%- form_render() %>
  <div class="control-group">
    <div class="controls">
      <input type="submit" class="btn" value="Register" />
    </div>
  </div>
</form>
